* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el cuerpo del sitio */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9 ;
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* Encabezado */
h1 {
    text-align: center;
    color: #007bff;
    font-size: 36px;
    padding: 20px;
}

/* Historial */
#historial {
    width: 250px;
    background-color: #f1f1f1;
    color: #333;
    height: 100vh;
    position: fixed;
    overflow: auto;
    padding: 20px;
}

#historial p {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Estilos para el botón de eliminar */
#eliminar-ultimo {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
}

#eliminar-ultimo:hover {
    background-color: #d43f1d;
}

/* Formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenido principal */
.content {
    margin-left: 250px;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Resultados */
#resultados {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 10px;
}